@import url(/common/style.css);

a {
    text-decoration: none;
}
hr {
    border: none;
    height: 2px;
    background-color: #1b1b1b;
}

body {
    background-color: #252525;
    margin: 0;
}

header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    transition: transform 0.5s ease;
}
#inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    max-width: 1200px;
}
.header-hidden {
    transform: translateY(-100%);
}
.header-colored {
    background-color: #141414;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
#logo {
    margin: 10px 0;
}
#nav {
    display: flex;
    align-items: center;
    gap: 30px;
}



#top {
    background-image: url(./img/bg/1.jpeg);
    transition: background-image 1.5s ease-in-out;
    background-size: cover;
    height: 750px;
    background-position: center;
    display: flex;
    align-items: center;
}
#top_text {
    margin-left: 50%;
}
#name {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}
#sub {
    margin: 0;
}

#dl {
    display: flex;
    gap: 10px;
    align-items: center;
}
#download {
    background-color: #5a96e4;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: normal;
    transition: transform 0.2s ease;
}
#download:hover {
    transform: scale(1.05);
}


#menu {
    background-color: #000;
}
#menu>#mn {
    margin: auto;
    height: 100px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mn a:hover {
    text-decoration: underline;
}


#preview {
    padding: 10px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#changelog {
    background-color: #1f1f1f;
    padding: 60px 0;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.2);
}
#news {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 50px;
    text-align: center;
}
#news h3 {
    color: lightgray;
}
#latest {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    background-color: black;
    display: flex;
    align-items: center;
}

#newimg {
    aspect-ratio: 4 / 3;
    background-position: center;
    background-size: cover;
    width: 50%;
    background-image: url(./img/news1.jpeg);
    flex-shrink: 0;
}
#newdes {
    padding: 40px;
}
#newdes p {
    color: lightgray;
}
#newdes h2 {
    font-weight: normal;
}
#newdes li {
    color: lightgray;
}

#changelog .type {
    font-weight: bold;
    color: #7259ff;
}
#changelog .more {
    font-weight: normal;
    color: white;
    text-decoration: underline;
}
svg {
    vertical-align: middle;
}



#features {
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
}
#features>div {
    display: flex;
    align-items: center;
    gap: 30px;
}
#features p {
    color: lightgray;
}

#features hr {
    margin: 20px 0;
}
#features .pic {
    aspect-ratio: 16 / 9;
    width: 65%;
    flex-shrink: 0;
    background-size: 100%;
    border-radius: 4px;
}
#a1 {
    background-image: url(./img/a1.jpeg);
}
#a2 {
    background-image: url(./img/a2.jpeg);
}
#a3 {
    background-image: url(./img/a3.jpeg);
}

#faq {
    padding: 50px 0;
    background-color: #000;
}
#faq>h1 {
    text-align: center;
}
#qlist {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}
#qlist>div {
    margin-top: 7px;
    background-color: #494949;
    padding: 7px 20px;
    border-radius: 3px;
}

#form {
    margin: 40px auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}
#send {
    font-weight: normal;
    margin: 10px auto;
    background-color: #5a96e4;
    border-radius: 3px;
    padding: 10px 20px;
    width: fit-content;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#send:hover {
    transform: scale(1.05);
}
textarea {
    width: 100%;
    background-color: #252525;
    border: none;
    padding: 10px;
    border-radius: 3px;
}
input {
    width: 100%;
    max-width: 300px;
    background-color: #252525;
    border: none;
    padding: 15px 10px;
    border-radius: 3px;
}
#error {
    color: red;
}
#thankyou {
    display: none;
}