@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: lightgray;
    /* outline: 1px dashed; */
}

body {
    background-color: #1e1e1e;
}

header {
    /* position: fixed; */
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
header #logo {
    line-height: 40px;
    text-decoration: none;
    padding-left: 50px;
    background-image: url(/common/img/logo.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

main {
    /* width: fit-content;
    margin: 0 auto; */
    margin: 0 60px 0;
    display: flex;
    gap: 30px;
}

footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}
h2 {
    color: white;
    margin: 5px 0;
}
h3 {
    color: white;
    font-size: large;
    font-weight: normal;
    margin: 5px 0;
}
h4 {
    font-weight: normal;
    margin: 5px 0;
}

hr {
    margin: 10px 0;
    height: 1px;
    background-color: lightgray;
    border: none;
}
ul {
    list-style: square;
    list-style-position: inside;
}
li {
    color: lightgray;
}
input {
    background-color: rgb(30, 30, 30);
    outline: none;
    font-size: medium;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
textarea {
    background-color: rgb(30, 30, 30);
    outline: none;
    font-size: medium;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    resize: none;
}

.flex {
    display: flex;
}
.align-baseline {
    align-items: baseline;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.end {
    justify-content: end;
}
.hidden {
    overflow: hidden;
}
.gap10 {
    gap: 10px;
}
.gap20 {
    gap: 20px;
}
.mt10 {
    margin-top: 10px;
}

.img {
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #ffc107;
    color: #333;
    white-space: nowrap;
}
.btn:hover {
    background-color: rgb(255, 160, 0);
}
.btn:active {
    transform: scale(0.95);
}

#right {
    max-width: 1200px;
    height: fit-content;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
}




#profile {
    height: min-content;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
}

#prof-name {
    font-size: x-large;
    color: white;
    font-weight: bold;
}
#face {
    flex-shrink: 0;
    width: 115px;
    height: 115px;
    background-image: url(/common/img/face.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
}

.blue {
    color: #1E90FF;
    cursor: pointer;
}

#mail {
    background-repeat: no-repeat;
    background-image: url(/common/img/mail.png);
    background-size: 20px;
    background-position: left 3px;
    padding-left: 25px;
}
#discord {
    background-repeat: no-repeat;
    background-image: url(/common/img/discord.png);
    background-size: 20px;
    background-position: left 3px;
    padding-left: 25px;
}



#og {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-wrap: wrap;
}
#og>div {
    cursor: pointer;
    flex: 1;
    min-width: 270px;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
    transition: all 0.3s ease;
}
#og>div:hover, #og>div:focus, #og>div:active {
    z-index: 10;
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 15px 30px rgba(0, 0, 0, 0.2);
}

#og>div>.image {
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1200 / 630;
}
#health-bar>.image {
    background-image: url(/health-bar/img/og-image.jpg);
}
#enchant-icon>.image  {
    background-image: url(/enchant-icon/img/og-image.jpg);
}

#og>div>.description {
    padding: 0 30px 30px;
}



main>#right {
    width: calc(100% - 390px);
}
main>#left {
    width: 360px;
}

@media (max-width: 1200px) {
    main {
        flex-direction: column;
    }
    main>#right {
        width: 100%;
    }
    main>#left {
        width: 100%;
    }
}

@media (max-width: 600px) {
    header {
        padding: 0 15px;
    }

    main {
        gap: 15px;
        margin: 0 15px;
    }
    #right {
        padding: 20px;
    }
    #profile {
        padding: 20px;
    }

    #og {
        margin-top: 15px;
        gap: 15px;
    }
    #og>div>.description {
        padding: 0 20px 20px;
    }
}
